* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Footer-Container {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.Footer-Flex {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
}
.Footer-Flex-Item {
  width: 200px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  color: black;
}
.Footer-Flex-h3-Tag {
  font-size: 20px;
  font-weight: 600;
  font-family: gilroy-regular;
  color: black;
  padding: 20px;
  line-height: 23.86px;
  text-wrap: nowrap;
}
.Footer-Flex-p-Tag {
  font-size: 14px;
  font-weight: 500;
  font-family: gilroy-regular;
  color: #828282;
  padding: 0px 20px 5px 20px;
  line-height: 24px;
}
.subItem {
  padding: 5px 20px;
  font-weight: 500;
  color: #292929;
  font-size: 14px;
  line-height: 18.83px;
  font-family: gilroy-regular;
}

.Footer-Divider {
  width: auto;
  height: 2px;
  background-color: gray;
  margin: 0 8rem;
}
.Footer-Flex-Item-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}
.Footer-Flex-p-Tag-copyright {
  font-size: 14px;
  font-weight: 400;
  font-family: gilroy-regular;
  color: #292929;
  line-height: 18.56px;
}

.Footer-arrow {
  width: 80px;
  height: 80px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.ColorGreen {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.24px;
  color: #62beb7;
}
.mobile {
  font-size: 14px;
  line-height: 18.83px;
  color: #828282;
  font-weight: 500;
  font-family: Gilroy;
}
.Footer-Logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin-left: 19px;
}
.Footer-Image-Logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: -10px;
  margin-bottom: 15px;
}
.Footer-Flex-p-Tag-LeftDiv {
  margin-top: 20px;
}

@media screen and (min-width: 240px) and (max-width: 750px) {
  .Footer-Container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 0px;
  }

  .Footer-Flex {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  .Footer-Flex-Item {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom: 20px;
  }
  .Footer-arrow {
    width: 80px;
    height: 80px;
    font-size: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
  }

  .Footer-Divider {
    width: auto;
    height: 2px;
    background-color: gray;
    margin: 0px 1rem;
  }
  .Footer-Logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: auto;
    margin: 10px 0px 0px 20px;
  }
  .Footer-Image-Logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 0px 0px 20px 0px;
  }
}
