* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Satoshi-Bold;
  src: url("../fonts/Satoshi-Bold.otf");
}

@font-face {
  font-family: Satoshi-medium;
  src: url("../fonts//Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: Satoshi-Regular;
  src: url("../fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: Satoshi-medium;
  src: url("../fonts/Satoshi-medium.otf");
}

@font-face {
  font-family: gilroy-light;
  src: url("../fonts/Gilroy-Light.ttf");
}

:root {
  --pos_x_init: 0px;
  --pos_y_init: 0px;
  --pos_x_final: 0px;
  --pos_y_final: 0px;
  --top_pos: 0s;
}

p {
  line-height: 2.25rem;
}

i {
  font-size: 1.5rem;
}

/* Navbar */

#nav {
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

#logo img {
  margin-top: 103px;
  margin-left: 72px;
  height: 55px;
  filter: brightness(0);
  opacity: 0.75;
  /* height: 15.5vh;
    width: 14.5vw; */
}

#menu {
  display: flex;
  flex-direction: row;
  width: 180px;
}

#menu #men {
  margin-top: 70px;
  margin-right: 21px;
  height: 2vh;
  font-family: Satoshi-medium;
  font-size: 1.34rem;
  color: #181919;
}
@media only screen and (min-width: 1600px) {
  #menu #men {
    margin-top: 70px;
  }
}
#ham {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 62px;
  margin-right: 86px;
  height: 63px;
  width: 63px;
  z-index: 999;
  border-radius: 50%;
  transition-duration: 0.25s;
  background-color: transparent;
  transition-duration: 0.5s;
  top: 36px;
  right: -33px;
  /* overflow: hidden;
   /* overflow: hidden;*/
}

@keyframes hov {
  0% {
    background: radial-gradient(
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }

  20% {
    background: radial-gradient(
      #000,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }

  40% {
    background: radial-gradient(
      #000,
      #000,
      transparent,
      transparent,
      transparent
    );
  }

  60% {
    background: radial-gradient(#000, #000, #000, transparent, transparent);
  }

  80% {
    background: radial-gradient(#000, #000, #000, #000, transparent);
  }

  100% {
    background: radial-gradient(#000, #000, #000, #000, #000);
  }
}


#ham:hover #_1,
#ham:hover #_2 {
  background-color: rgb(0, 0, 0);
}

/* #one1 .container div{
   height: 100vh;
   width: 100vh;
} */
#one1 {
  /* height: 100vh; */
  min-height: 850px;
}
#_1,
#_2 {
  width: 1.75vw;
  height: 0.3vh;
  background-color: #000000;
}

#_1 {
  margin-bottom: 0.4rem;
}

#contact-heading {
  font-size: 5rem;
  /* font-size: 80px; */
  font-family: "Satoshi-Regular";
  margin-left: 11vw;
  line-height: 120px;
  margin-top: 50px;
}
.intrested-contact {
  opacity: 0.3;
  font-family: "Satoshi-Regular";
  font-size: 2.1rem;
  margin-left: 11vw;
  line-height: 140px;
}
.contact-btn-containers {
  display: flex;
  margin-left: 11vw;
  flex-wrap: wrap;
  max-width: 1200px;
}

.btn-contact-choose {
  font-family: "Satoshi-medium";
  font-size: 24px;
  border: 1.5px solid #e5e5e5;
  padding: 26px 47px;
  border-radius: 60px;
  cursor: pointer;
  margin-top: 40px;
  margin-right: 20px;
}

.form-below-line-contaner {
  width: 70vw;
  max-width: 1200px;
  background-color: #c0c0c0;
  height: 2px;
  margin-bottom: 100px;
}
.form-below-line {
  transition-duration: 1.5s;
  width: 0%;
}
.line-hover:hover > .form-below-line-contaner > .form-below-line {
  width: 100%;
  background-color: black;
  height: 100%;
}
.form-container {
  margin-left: 11vw;
  margin-top: 50px;
  padding-top: 50px;
}
.form-container input {
  border: none;
  width: 100%;
  outline: none;
  font-size: 30px;
  opacity: 0.8;
  padding-top: 30px;
  padding-bottom: 35px;
}
.form-container input::placeholder {
  font-size: 30px;
  color: black;
  opacity: 0.3;
  font-family: "Satoshi-Regular";
}
.submit-contact-form button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 38px;

  margin-bottom: 100px;
  padding-bottom: 20px;
  font-family: "Satoshi-Regular";
  cursor: pointer;
}
#submitform {
  opacity: 0.3;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.299);
}

/* FOOTER CSS */

#overlay-sidebar {
  transition-duration: 1s;
  opacity: 0;
  z-index: 102;
  display: none;
}
.overlay-scroll-container {
  background-color: rgba(255, 255, 255, 0.311);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: absolute;
  top: 0;

  overflow: hidden;
  overflow: none;
  min-height: 850px;
}
#menu-scroll-container {
  background-color: rgb(255, 255, 255);
  width: 45vw;
  position: fixed;
  display: flex;
  overflow: hidden;
  padding: 26vh 100px 26vh 62px;
  height: 100vh;
  top: 0;
  transition-duration: 1s;
  justify-content: left;
  font-family: "Satoshi-medium";
}
#menu-scroll-container {
  right: -45vw;
}
.menu-scroll-navagition {
  font-size: 2.3rem;
}
.menu-scroll-navagition ul {
  list-style: none;
  margin-left: 9vw;
  line-height: 60px;
}
.menu-scroll-navagition ul li,
.menu-scroll-social ul li {
  cursor: pointer;
  transition-duration: 0.5s;
  /* transition-duration: 0.5s; */
}
.menu-scroll-navagition ul li:hover,
.menu-scroll-social ul li:hover {
  transform: scale(1.1);
}
.menu-scroll-navagition ul li:hover,
.menu-scroll-social ul li:hover {
  transform: scale(1.05);
}
#line-span-menu {
  line-height: 18px;
  padding-bottom: 10px;
}
#area1 ul li {
  transition-duration: 0.5s;
  cursor: pointer;
}
#area1 ul li:hover {
  transform: scale(1.05);
}
.menu-scroll-social {
  font-size: 1.2rem;
  font-family: "Satoshi-Regular";
  line-height: 47px;
  padding-left: 1vw;
}
.menu-scroll-social span,
.menu-scroll-navagition span {
  font-size: 1rem;
  color: #b2b1b2;
  font-family: "Satoshi-Regular";
}

.menu-scroll-social ul {
  list-style: none;
}

#style-no {
  text-decoration: none;
  color: black;
}

.email-sidebar {
  position: absolute;
  bottom: 70px;
  font-family: "Satoshi-medium";
  left: 118px;
}
#light {
  color: #b2b1b2;
  font-family: "Satoshi-medium";
  font-size: 1.2rem;
}
.email-rcs {
  cursor: pointer;
  font-family: "Satoshi-Regular";
  font-size: 1.15rem;
  /* border-bottom: 1px solid rgb(196, 196, 196); */
}
.email-rcs:hover {
  /* border-bottom: 1px solid #000; */
  font-family: "Satoshi-medium";
  transition-duration: 1s;
}
#email-bottom-1,
#email-bottom-11 {
  width: 100%;
  background-color: rgb(246, 246, 246);
  border: none;
  height: 2px;
}
#email-bottm-2,
#email-bottm-22 {
  background-color: black;
  width: 10%;
  height: 100%;
  transition-duration: 1s;
}
.telegram-div-sidbar {
  margin-left: 5vw;
}

/* from services */

#arr11 #center:hover {
  transform: scale(1.15);
  transition-duration: 1s;
}

#arr11 #center #first {
  font-size: 5rem;
  width: 40vw;
  font-family: Satoshi-medium;
  text-align: center;
  transition-duration: 1s;
}

#yellow {
  color: #f4d9b4;
}

#arr11 #center #second {
  font-size: 1.3rem;
  margin-top: 2rem;
  width: 50%;
  text-align: center;
  height: 30px;
  z-index: 2;
  font-family: Satoshi-Regular;
  letter-spacing: 0.3rem;
  transition-duration: 1s;
  margin-top: 60px;
}

#arr11 #center:hover #first {
  transform: scale(0.85);
  transition-duration: 1s;
}

#arr11 #center:hover #second {
  transform: scale(0.85);
  transition-duration: 1s;
}

#arr11 #center #second div {
  z-index: -1;
  background-color: #62beb7;
  width: 100%;
  height: 2vh;
  position: relative;
  top: -50%;
  transition-duration: 1s;
}

#arr11 #center:hover #second div {
  height: 4vh;
  top: -100%;
  transition-duration: 1s;
}

/* Media Queries */

@media only screen and (max-width: 1600px) {
  #one1 {
    overflow: hidden;
    padding-bottom: 0rem;
    /* height: 100vh; */
    min-height: 850px;
  }

  #MainHead {
    /* margin-top: 3vh; */
    margin-left: 214px;
  }

  #MainHead .heading {
    font-size: 4rem;
  }

  #Mainarea {
    font-size: 4rem;
  }

  /* #logo svg {
       height: 15vh;
       width: 15vw;
   } */

  #nav {
    padding: 0px;
  }

  #arr2 {
    /* height: 100vh; */
    /* min-height: 850px; */
    background: url(./img/Group\ 10888.png);
    background-position: center;
    background-size: 110vw 950px;
  }

  #arr2 {
    margin-top: 4rem;
  }

  #arr2 h2 {
    font-size: 3rem;
  }

  p {
    line-height: 2rem;
  }

  #arr6 #arr6_1 {
    width: 50vw;
  }

  #arr6_1 .text .heading {
    font-size: 4rem;
    font-family: Satoshi-medium;
  }

  #arr6_1 .text p {
    font-size: 0.8rem;
    width: 60%;
    line-height: 1.25rem;
  }

  #arr6_1 #arr6_1_p {
    font-size: 1.25rem;
  }

  #arr6_1 #arr6_1_p1 {
    font-size: 0.75rem;
  }

  .imgarea div {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0rem;
    font-family: Satoshi-Bold;
  }

  #arr10 .cards div:last-child p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #arr10 .cards div ul li {
    list-style: none;
    /* padding: 1rem; */
    /* padding-bottom: 1rem; */
    margin-top: 1.5rem;
    /* border-top: 1px solid #707070; */
    cursor: default;
  }

  #arr10 .cards div ul li .text p {
    font-size: 1rem;
    font-family: gilroy-light;
    width: 100%;
    line-height: 1.5rem;
    /* line-height: 1.25rem; */
  }

  #arr10 .cards div ul li .text .heading {
    font-size: 1.5rem;
    font-family: Satoshi-medium;
    width: 100%;
    line-height: 1.5rem;
    /* line-height: 1.25rem; */
  }

  #arr11 #center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin: auto auto;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    background: linear-gradient(to bottom, #1d1a38, #01011b);
    border-radius: 50%;
    box-shadow: 0px 0px 13px 3px black;
    color: white;
    z-index: 3;
  }

  #icons img {
    height: 50px;
    /* width: 80px; */
  }

  #icons #threeIco {
    height: 58px;
    position: relative;
    top: 3px;
  }

  #arr10 {
    background-color: #1c171d;
    color: white;
    padding: 1rem 4rem;
    height: 100vh;
    min-height: 850px;
  }

  #arr11 #center #first {
    font-size: 4rem;
    width: 40vw;
  }

  #arr11 #img11_2 {
    position: absolute;
    left: calc(100vw - 283px);
    top: 53px;
  }

  #arr11 #img11_1 {
    position: absolute;
    left: 147px;
    top: 96px;
  }

  #arr11 #img11_4 {
    position: absolute;
    left: calc(100vw - 251px - 32px);
    top: 712px;
  }

  #arr11 #img11_3 {
    position: absolute;
    left: 360px;
    top: 655px;
  }

  #arr11 #center {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    margin: auto auto;
    top: 100px;
    left: calc(50vw - 282px);
    /* transform: translateX(37.8vw); */
    transition-duration: 1s;
    background: linear-gradient(to bottom, #1d1a38, #01011b);
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px white, 0px 0px 13px 3px black;
    color: white;
    z-index: 3;
  }
  #arr11 #center #first {
    font-size: 5rem;
    width: 45vw;
  }

  #arr11 #img11_2 {
    position: absolute;
    left: calc(100vw - 283px);
    top: 53px;
  }

  #arr11 #img11_1 {
    position: absolute;
    left: 147px;
    top: 96px;
  }

  #arr11 #img11_4 {
    position: relative;
    left: 73vw;
    top: 66vh;
  }

  #arr11 #img11_3 {
    position: relative;
    left: 22vw;
    top: 58vh;
  }
}
@media screen and (max-width: 1450px) {
  .textarea {
    padding: 0rem 3rem;
  }
  #arr11 #img11_2 {
    position: absolute;
    left: calc(100vw - 283px);
    top: 53px;
  }

  #arr11 #img11_4 {
    position: relative;
    left: 73vw;
    top: 66vh;
  }

  #arr11 #img11_1 {
    position: absolute;
    left: 5vw;
    top: 96px;
  }

  #arr11 #img11_3 {
    position: relative;
    left: 22vw;
    top: 58vh;
  }

  #arr11 #center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin: auto auto;
    top: 135px;
    left: calc(50vw - 200px);
    /* transform: translateX(37.8vw); */
    transition-duration: 1s;
    background: linear-gradient(to bottom, #1d1a38, #01011b);
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px white, 0px 0px 13px 3px black;
    color: white;
    z-index: 3;
  }
}

@media only screen and (max-width: 1200px) {
  #Mainarea {
    font-size: 3rem;
  }

  .text1 {
    width: 35vw;
    margin-right: 3rem;
  }
  .textarea img {
    width: 45vw;
  }
  .textarea {
    padding: 0rem 2rem;
  }

  #one1 {
    overflow: hidden;
    padding-bottom: 0rem;
    /* height: 100vh; */
    min-height: 850px;
  }

  #MainHead .heading {
    font-size: 3rem;
    width: 100%;
  }

  #icons {
    margin: auto;
    margin-bottom: 0px;
  }

  #MainHead p {
    font-size: 1rem;
  }

  #arr4 .cards div ul li .text p {
    font-size: 1rem;
  }

  #arr4 .cards div ul li .text .heading {
    font-size: 1.5rem;
  }

  #arr4 .cards div {
    width: 40vw;
  }

  #arr6 #arr6_1 {
    width: 50vw;
  }

  #arr6_1 .text p {
    font-size: 0.8rem;
    width: 60%;
  }

  #arr6_1 .text .heading {
    font-size: 3rem;
    font-family: Satoshi-medium;
  }

  p {
    line-height: 1.75rem;
  }

  #arr6 {
    padding-top: 3rem;
    height: 110vh;
    padding-bottom: 3rem;
  }

  .imgarea div {
    color: white;
    font-size: 1.25rem;
    margin: 1rem 0rem;
    font-family: Satoshi-Bold;
  }

  #arr10 .cards div:last-child p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #arr10 .cards div ul li .text .heading {
    font-size: 1.25rem;
    /* font-weight: 500; */
    font-family: Satoshi-Bold;
  }

  #arr10 .cards div ul li .text p {
    font-size: 0.8rem;
    font-family: gilroy-light;
    width: 100%;
    line-height: 1.25rem;
  }

  #arr10 .cards div ul li {
    list-style: none;
    /* padding: 1rem; */
    /* padding-bottom: 0.5rem; */
    margin-top: 1.5rem;
    /* border-top: 1px solid #707070; */
    cursor: default;
  }

  #arr11 #img11_2 {
    position: absolute;
    left: calc(100vw - 283px);
    top: 53px;
  }

  #arr11 #img11_4 {
    position: absolute;
    left: calc(100vw - 251px - 32px);
    top: 712px;
  }

  #arr11 #img11_1 {
    position: absolute;
    left: 5vw;
    top: 96px;
  }

  #arr11 #img11_3 {
    position: absolute;
    left: 20vw;
    top: 655px;
  }

  #arr11 #center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 400px;
    width: 400px;
    margin: auto auto;
    top: calc(143px+200px);
    left: calc(50vw - 200px);
    background: linear-gradient(to bottom, #1d1a38, #01011b);
    border-radius: 50%;
    box-shadow: 0px 0px 13px 3px black;
    color: white;
  }

  #arr10 {
    background-color: #1c171d;
    color: white;
    padding: 1rem 3rem;
    height: 100vh;
    min-height: 850px;
  }

  #comp1 {
    transform: translateX(60vw) translateY(35vh);
    z-index: -1;
    /* opacity: 0; */
  }

  #foot21 ul li,
  #foot22 ul li {
    list-style: none;
    font-size: 1.25rem;
    font-family: Satoshi-Regular;
    margin: 2rem 2rem;
  }

  #arr11 #center #first {
    font-size: 4rem;
    width: 44vw;
  }

  #area1 {
    padding: 1rem;
  }

  .btn {
    width: 12rem;
    height: 3rem;
    font-size: 1.05rem;
  }

  #arr2 .h2 {
    width: 70vw;
    font-size: 3rem;
  }

  .text {
    width: 34vw;
  }

  .text .heading {
    font-size: 2rem;
  }

  .text p {
    font-size: 1.1rem;
  }

  #arr4 {
    padding: 5rem 2rem;
  }
}

@media only screen and (max-width: 1004px) {
  #arr6 #arr6_1 {
    width: 60vw;
  }

  .btn {
    width: 9rem;
    height: 2.5rem;
    position: relative;
    left: 15px;
  }
  .textarea {
    padding: 0rem 10px;
  }
  .textarea img {
    width: 90vw;
    display: block;
    margin: auto;
    margin-bottom: 50px;
  }
  .text1 {
    width: 90vw;
    margin-right: 3rem;
    display: block;
    margin: auto;
    text-align: center;
  }
  #foot21 ul li,
  #foot22 ul li {
    list-style: none;
    font-size: 1.25rem;
    font-family: Satoshi-Regular;
    margin: 2rem 2rem;
  }
  #area1 {
    padding: 1rem;
  }
  #Mainarea {
    width: 90%;
  }
  .heading1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem 0px;
    font-family: "Satoshi-medium";
  }
  .text1 p {
    font-size: 1.1rem;
    color: #181919;
    opacity: 0.6;
    font-family: Satoshi-Regular;
    margin-bottom: 2rem;
  }
  .section {
    height: 700px;
  }
  /* #arr2 {
       height: 650px;
       min-height: 650px;
   } */
  #arr4 {
    padding: 0px;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  #last-btn {
    /* margin: auto; */
    margin-top: 100px;
    display: none;
  }
  #arr11 #center {
    height: 300px;
    width: 300px;
    top: 200px;
    left: calc(50vw - 150px);
  }

  #yellow {
    color: #f4d9b4;
  }

  #arr11 {
    min-height: 500px;
  }

  #arr11 #center #first {
    font-size: 2.75rem;
    width: 91vw;
  }

  #arr11 #center #second div {
    z-index: -1;
    background-color: #62beb7;
    width: 100%;
    height: 2vh;
    position: absolute;
    top: 25%;
    transition-duration: 1s;
  }

  #arr11 #center:hover #second div {
    height: 5vh;
    top: -25%;
    transition-duration: 1s;
  }

  #arr11 #center #second {
    font-size: 1rem;
    margin-top: 2rem;
    width: 62%;
    text-align: center;
    height: 5vh;
    position: relative;
    z-index: 2;
    font-family: Satoshi-Regular;
    letter-spacing: 0.3rem;
    transition-duration: 1s;
  }

  #arr11 #img11_1 {
    position: absolute;
    left: 4px;
    top: 33px;
    transform: scale(0.5);
  }

  #arr11 #img11_2 {
    position: absolute;
    top: -24px;
    left: calc(100vw - 153px);
    transform: scale(0.5);
  }

  #arr11 #img11_3 {
    position: relative;
    left: -11px;
    top: 450px;
    transform: scale(0.5);
  }

  #arr11 #img11_4 {
    position: relative;
    left: calc(100vw - 250px);
    top: 500px;
    transform: scale(0.5);
  }
  #contact-heading {
    font-size: 2rem;
    line-height: 58px;
  }
  .intrested-contact {
    opacity: 0.3;
    font-family: "Satoshi-Regular";
    font-size: 1.5rem;
    margin-left: 11vw;
    line-height: 91px;
  }
  .btn-contact-choose {
    font-family: "Satoshi-medium";
    font-size: 12px;
    border: 1.5px solid #e5e5e5;
    padding: 14px 22px;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 29px;
    margin-right: 12px;
  }
}

@media only screen and (max-width: 1650px) {
  #MainHead .heading {
    font-size: 4rem;
    width: 92%;
    font-family: Satoshi-medium;
    color: #181919;
    line-height: 70px;
  }
}

/* Media Queries */

@media only screen and (max-width: 1600px) {
  #one1 {
    overflow: hidden;
    padding-bottom: 0rem;
    /* height: 100vh; */
    min-height: 850px;
  }

  #MainHead {
    /* margin-top: 3vh; */
    margin-left: 12vw;
  }

  #MainHead .heading {
    font-size: 3.5rem;
  }

  /* #logo svg {
       height: 15vh;
       width: 15vw;
   } */

  #nav {
    padding: 0px;
  }

  p {
    line-height: 2rem;
  }

  #arr6 #arr6_1 {
    width: 50vw;
  }

  #arr6_1 .text .heading {
    font-size: 4rem;
    font-family: Satoshi-medium;
  }

  #arr6_1 .text p {
    font-size: 0.8rem;
    width: 60%;
    line-height: 1.25rem;
  }

  #arr6_1 #arr6_1_p {
    font-size: 1.25rem;
  }

  #arr6_1 #arr6_1_p1 {
    font-size: 0.75rem;
  }

  .imgarea div {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0rem;
    font-family: Satoshi-Bold;
  }

  #arr10 .cards div:last-child p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #arr10 .cards div ul li {
    list-style: none;
    /* padding: 1rem; */
    /* padding-bottom: 1rem; */
    margin-top: 1.5rem;
    /* border-top: 1px solid #707070; */
    cursor: default;
  }

  #arr10 .cards div ul li .text p {
    font-size: 1rem;
    font-family: gilroy-light;
    width: 100%;
    line-height: 1.5rem;
    /* line-height: 1.25rem; */
  }

  #arr10 .cards div ul li .text .heading {
    font-size: 1.5rem;
    font-family: Satoshi-medium;
    width: 100%;
    line-height: 1.5rem;
    /* line-height: 1.25rem; */
  }

  #arr11 #center {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 500px;
    margin: auto auto;
    top: 100px;
    left: calc(50vw - 282px);
    /* transform: translateX(37.8vw); */
    transition-duration: 0.5s;
    background: linear-gradient(to bottom, #1d1a38, #01011b);
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px white, 0px 0px 13px 3px black;
    color: white;
    z-index: 3;
  }

  #icons img {
    height: 50px;
    /* width: 80px; */
  }

  #icons #threeIco {
    height: 58px;
    position: relative;
    top: 3px;
  }

  #arr10 {
    background-color: #1c171d;
    color: white;
    padding: 1rem 4rem;
    height: 100vh;
    min-height: 850px;
  }

  #arr11 #center #first {
    font-size: 5rem;
    width: 45vw;
  }

  #arr11 #img11_2 {
    position: absolute;
    left: calc(100vw - 283px);
    top: 53px;
  }

  #arr11 #img11_1 {
    position: absolute;
    left: 147px;
    top: 96px;
  }

  #arr11 #img11_4 {
    position: relative;
    left: 73vw;
    top: 66vh;
  }

  #arr11 #img11_3 {
    position: relative;
    left: 22vw;
    top: 58vh;
  }
}
@media only screen and (max-width: 1600px) {
  #ham {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    right: -33px;
    margin-right: 86px;
    top: 36px;
    height: 63px;
    z-index: 999;
    width: 63px;
    border-radius: 50%;
    transition-duration: 0.25s;
    background-color: transparent;
    /* overflow: hidden;*/
  }
}

@media only screen and (max-width: 1400px) {
  #one1 {
    overflow: hidden;
    padding-bottom: 0rem;
    /* height: 100vh; */
    min-height: 850px;
  }

  #MainHead .heading {
    font-size: 3rem;
    width: 100%;
  }

  #icons {
    margin: auto;
    margin-bottom: 0px;
  }

  #MainHead p {
    font-size: 1rem;
  }

  #arr6 #arr6_1 {
    width: 50vw;
  }

  #arr6_1 .text p {
    font-size: 0.8rem;
    width: 60%;
  }

  #arr6_1 .text .heading {
    font-size: 3rem;
    font-family: Satoshi-medium;
  }

  p {
    line-height: 1.75rem;
  }

  #arr6 {
    padding-top: 3rem;
    height: 110vh;
    padding-bottom: 3rem;
  }

  .imgarea div {
    color: white;
    font-size: 1.25rem;
    margin: 1rem 0rem;
    font-family: Satoshi-Bold;
  }

  #arr10 .cards div:last-child p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #arr10 .cards div ul li .text .heading {
    font-size: 1.25rem;
    /* font-weight: 500; */
    font-family: Satoshi-Bold;
  }

  #arr10 .cards div ul li .text p {
    font-size: 0.8rem;
    font-family: gilroy-light;
    width: 100%;
    line-height: 1.25rem;
  }

  #arr10 .cards div ul li {
    list-style: none;
    /* padding: 1rem; */
    /* padding-bottom: 0.5rem; */
    margin-top: 1.5rem;
    /* border-top: 1px solid #707070; */
    cursor: default;
  }

  #arr11 #img11_2 {
    position: absolute;
    left: calc(100vw - 283px);
    top: 53px;
  }

  #arr11 #img11_4 {
    position: relative;
    left: 73vw;
    top: 66vh;
  }

  #arr11 #img11_1 {
    position: absolute;
    left: 5vw;
    top: 96px;
  }

  #arr11 #img11_3 {
    position: relative;
    left: 22vw;
    top: 58vh;
  }

  #arr11 #center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin: auto auto;
    top: 135px;
    left: calc(50vw - 200px);
    /* transform: translateX(37.8vw); */
    transition-duration: 0.5s;
    background: linear-gradient(to bottom, #1d1a38, #01011b);
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px white, 0px 0px 13px 3px black;
    color: white;
    z-index: 3;
  }

  #arr10 {
    background-color: #1c171d;
    color: white;
    padding: 1rem 3rem;
    height: 100vh;
    min-height: 900px;
  }

  #foot21 ul li,
  #foot22 ul li {
    list-style: none;
    font-size: 1.25rem;
    font-family: Satoshi-Regular;
    margin: 2rem 2rem;
  }

  #arr11 #center #first {
    font-size: 4rem;
    width: 44vw;
  }

  #area1 {
    padding: 1rem;
  }

  .btn {
    width: 12rem;
    height: 3rem;
    font-size: 1.05rem;
  }

  #arr2 .h2 {
    width: 70vw;
    font-size: 3rem;
  }

  .text {
    width: 34vw;
  }

  .text .heading {
    font-size: 2rem;
  }

  .text p {
    font-size: 1.1rem;
  }
  .email-sidebar {
    position: absolute;
    bottom: 70px;
    font-family: "Satoshi-medium";
    left: 110px;
  }
}

@media only screen and (max-width: 900px) {
  #logo svg {
    margin-top: 19px;
    margin-left: 30px;
    height: 80px;
    width: 49px;
  }
  .email-sidebar {
    left: 0;
    width: 250px;
  }
  #ham {
    margin-top: 54px;
    margin-right: 31px;
  }

  #_1,
  #_2 {
    width: 28px;
    height: 2px;
  }

  #menu #men {
    display: none;
  }

  #MainHead {
    width: 90%;
    margin: auto;
  }

  #MainHead .heading {
    font-size: 2.5rem;
    width: 100%;
    line-height: 55px;
  }

  #MainHead p {
    font-size: 0.8rem;
    line-height: 1.45rem;
  }

  #icons {
    margin-left: 30px;
  }

  .btn {
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-right: 1rem;
  }

  #MainHead div:last-child {
    margin-top: 2rem;
  }

  /* #arr1 {
       height: 80vh;
   } */

  #side-line {
    display: none;
  }

  #arr6 {
    padding: 2rem 2rem;
    padding-top: 350px;
    height: auto;
  }

  #arr6 #arr6_1 {
    width: 100vw;
    margin-left: 0px;
  }

  #arr6_1 .text {
    width: 100%;
    margin-left: 0px;
  }

  #arr6_1 .text p:first-child {
    font-size: 0.9rem;
  }

  #arr6_1 .text .heading {
    font-size: 2.5rem;
    font-family: Satoshi-medium;
    line-height: 55px;
  }

  #arr6_1 .text p {
    font-size: 0.8rem;
    width: 85%;
    line-height: 1.5rem;
  }

  #arrow {
    margin: 2rem 0px;
  }

  #arrow-button {
    margin-top: 1.1rem;
    margin-left: 0px;
  }

  #comp1 {
    top: 125px;
    left: calc(70vw - 140px);
  }

  #comp2 {
    top: -15px;
    left: calc(70vw - 325px);
  }

  #comp3 {
    top: -130px;
    left: calc(70vw - 475px);
  }

  #comp4 {
    top: -195px;
    left: calc(70vw - 575px);
  }

  #comp5 {
    top: -296px;
    left: calc(70vw - 725px);
  }

  #arr7 .text .heading {
    font-size: 1.75rem;
  }

  .imgarea div:first-child {
    height: 100px;
    width: 110px;
  }

  #arr7_1 {
    margin: 0.5rem;
    margin-top: 2rem;
  }

  .imgarea div {
    font-size: 1rem;
    margin: 0px;
  }

  .imgarea p {
    font-size: 0.9rem;
    width: 40vw;
    line-height: 23px;
  }

  .imgarea {
    margin: 1.5rem 0px;
  }

  #arr7 .btn {
    width: 8rem;
    display: block;
    margin: 2rem auto;
    height: 2.5rem;
  }

  #arr8 .text .heading {
    font-size: 1.75rem;
  }

  .imgarea1 div:first-child {
    height: 100px;
    width: 110px;
  }

  #arr8_1 {
    margin: 0.5rem;
    margin-top: 2rem;
  }

  .imgarea1 div {
    font-size: 1rem;
    margin: 10px;
  }

  .imgarea1 p {
    font-size: 0.9rem;
    width: 40vw;
    line-height: 23px;
  }

  .imgarea1 {
    margin: 1.5rem 0px;
  }

  #arr8 .btn {
    width: 8rem;
    display: block;
    margin: 2rem auto;
    height: 2.5rem;
  }

  #arr9 {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .arr9_1 div {
    font-size: 3rem;
    font-family: "Satoshi-medium";
  }

  .arr9_1 p {
    font-size: 1.25rem;
  }

  .arr9_1 {
    margin: 1rem 0rem;
  }

  #arr10 {
    padding: 2rem 2rem;
    height: 125vh;
    max-height: 1250px;
  }

  #arr10 .cards {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0px;
  }

  #arr10 .cards .text {
    width: 100%;
  }

  #arr10 .cards .text .heading {
    width: 83vw;
    text-align: center;
    font-size: 3rem;
  }

  #faq-text {
    display: none;
  }

  #arr10 .cards .text button {
    display: none;
  }
  #arr10 .cards div:last-child {
    padding: 0px;
  }

  #arr10 .cards div:first-child {
    width: 81vw;
    margin: 0rem 0px;
    max-width: 1000px !important;
  }

  #arr10 .cards div ul li .text .heading {
    text-align: left;
    font-size: 1rem;
  }

  #arr10 .cards ul {
    padding-left: 0px;
  }

  #arr10 .cards div ul li .text p {
    color: white;
    margin: 1rem 0px;
    text-align: justify;
  }

  #arr11 #center {
    height: 300px;
    width: 300px;
    top: 200px;
    left: calc(50vw - 155px);
  }

  #arr11 {
    min-height: 500px;
  }

  #arr11 #center #first {
    font-size: 2.75rem;
    width: 91vw;
  }

  #arr11 #center #second div {
    z-index: -1;
    background-color: #62beb7;
    width: 100%;
    height: 2vh;
    position: absolute;
    top: 25%;
    transition-duration: 0.5s;
  }
  #arr11 #center:hover #second div {
    height: 5vh;
    top: -25%;
    transition-duration: 0.5s;
  }
  #arr11 #center #second {
    font-size: 1rem;
    margin-top: 2rem;
    width: 62%;
    text-align: center;
    height: 5vh;
    position: relative;
    z-index: 2;
    font-family: Satoshi-Regular;
    letter-spacing: 0.3rem;
    transition-duration: 0.5s;
  }
  #arr11 #img11_1 {
    position: absolute;
    left: 4px;
    top: 33px;
    transform: scale(0.5);
  }
  #arr11 #img11_2 {
    position: absolute;
    top: -24px;
    left: calc(100vw - 153px);
    transform: scale(0.5);
  }
  #arr11 #img11_3 {
    position: relative;
    left: -11px;
    top: 450px;
    transform: scale(0.5);
  }
  #arr11 #img11_4 {
    position: relative;
    left: calc(100vw - 250px);
    top: 500px;
    transform: scale(0.5);
  }
  #foot21 ul,
  #foot22 ul {
    flex-wrap: wrap;
  }
  #area1 {
    padding: 0px;
  }
  #foot1 {
    padding: 0px;
  }
  #foot11 div {
    font-size: 1.75rem;
    text-align: center;
    width: 83vw;
  }
  #foot11 p {
    text-align: center;
    font-size: 0.9rem;
    color: #fefefe;
  }
  #foot12 {
    text-align: center;
  }
  #bottom1 {
    margin: auto;
    width: 81%;
  }
  #foot21 ul,
  #foot22 ul {
    width: 80vw;
    justify-content: space-between;
    margin: 2rem 0px;
  }
  #foot21 ul li,
  #foot22 ul li {
    font-size: 0.9rem;
    margin: 5px;
  }
  #foot2 {
    width: 100%;
    margin: 2rem 0px;
  }
  #area2 {
    display: none;
  }
  #area3 {
    font-size: 0.9rem;
    /* width: 100vw; */
  }
}

#arr12 {
  background: url("../img/back-foot.png");
  color: white;
  /* height: 60vh; */
  background-color: black;
  display: flex;
  padding: 2rem;
  z-index: -1;
  flex-direction: column;
}

#overlay-sidebar {
  transition-duration: 1s;
  opacity: 0;
  z-index: 102;
}

.overlay-scroll-container {
  background-color: rgba(255, 255, 255, 0.311);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: absolute;
  top: 0;

  overflow: hidden;
  overflow: none;
  min-height: 850px;
}

.menu-scroll-container {
  background-color: rgb(255, 255, 255);
  width: 45vw;
  position: absolute;
  display: flex;
  overflow: hidden;
  padding: 26vh 100px;
  height: 100vh;
  top: 0;
  transition-duration: 1s;
  justify-content: left;
  font-family: "Satoshi-medium";
}

#menu-scroll-container {
  right: -45vw;
}

.menu-scroll-navagition {
  font-size: 2.3rem;
}

.menu-scroll-navagition ul {
  list-style: none;
  margin-left: 9vw;
  line-height: 60px;
}

.menu-scroll-navagition ul li,
.menu-scroll-social ul li {
  cursor: pointer;
  transition-duration: 0.5s;
  /* transition-duration: 0.5s; */
}

.menu-scroll-navagition ul li:hover,
.menu-scroll-social ul li:hover {
  transform: scale(1.1);
}

.menu-scroll-navagition ul li:hover,
.menu-scroll-social ul li:hover {
  transform: scale(1.05);
}

#line-span-menu {
  line-height: 18px;
  padding-bottom: 10px;
}

#area1 ul li {
  transition-duration: 0.5s;
  cursor: pointer;
}

#area1 ul li:hover {
  transform: scale(1.05);
}

.menu-scroll-social {
  font-size: 1.2rem;
  font-family: "Satoshi-Regular";
  line-height: 47px;
  padding-left: 1vw;
}

.menu-scroll-social span,
.menu-scroll-navagition span {
  font-size: 1rem;
  color: #b2b1b2;
  font-family: "Satoshi-Regular";
}

.menu-scroll-social ul {
  list-style: none;
}

#style-no {
  text-decoration: none;
  color: black;
}

.email-sidebar {
  position: absolute;
  bottom: 70px;
  font-family: "Satoshi-medium";
}

#light {
  color: #b2b1b2;
  font-family: "Satoshi-medium";
  font-size: 1.2rem;
}

.email-rcs {
  cursor: pointer;
  font-family: "Satoshi-Regular";
  font-size: 1.15rem;
  /* border-bottom: 1px solid rgb(196, 196, 196); */
}

.email-rcs:hover {
  /* border-bottom: 1px solid #000; */
  font-family: "Satoshi-medium";
  transition-duration: 1s;
}

#email-bottom-1,
#email-bottom-11 {
  width: 100%;
  background-color: rgb(246, 246, 246);
  border: none;
  height: 2px;
}

#email-bottm-2,
#email-bottm-22 {
  background-color: black;
  width: 10%;
  height: 100%;
  transition-duration: 1s;
}

.telegram-div-sidbar {
  margin-left: 5vw;
}

@media only screen and (max-width: 1400px) {
  #c1 div button {
    margin-top: 2rem;
    width: 11.5vw;
    height: 3.5rem;
  }

  #logo img {
    margin-top: 80px;
    margin-left: 72px;
    /* height: 15.5vh;
       width: 14.5vw; */
  }

  #ham {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    right: -33px;
    margin-right: 86px;
    top: 36px;
    height: 63px;
    z-index: 999;
    width: 63px;
    border-radius: 50%;
    transition-duration: 0.25s;
    background-color: transparent;
    /* overflow: hidden;*/
  }

  #contact-heading {
    font-size: 2rem;
    line-height: 58px;
  }

  .intrested-contact {
    opacity: 0.3;
    font-family: "Satoshi-Regular";
    font-size: 1.5rem;
    margin-left: 11vw;
    line-height: 91px;
  }

  .btn-contact-choose {
    font-family: "Satoshi-medium";
    font-size: 12px;
    border: 1.5px solid #e5e5e5;
    padding: 14px 22px;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 29px;
    margin-right: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .telegram-div-sidbar {
    margin-top: 15px;
  }

  #menu-scroll-container {
    width: 100vw;
    padding: 26vh 20px;
  }

  .telegram-div-sidbar {
    margin-left: 0;
  }

  .menu-scroll-social {
    display: none;
  }

  .email-sidebar {
    margin-left: 15%;
  }

  .form-container input::placeholder {
    font-size: 15px;
    color: black;
    opacity: 0.3;
    font-family: "Satoshi-Regular";
  }

  .form-container input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 12px;
    opacity: 0.8;
    padding-top: 30px;
    padding-bottom: 12px;
  }

  .form-below-line-contaner {
    margin-bottom: 32px;
  }

  .submit-contact-form button {
    background-color: transparent;
    border: none;
    color: black;
    opacity: 0.3;
    font-size: 17px;
    margin-top: 19px;
    cursor: pointer;
  }

  #logo img {
    margin-top: 41px;
    margin-left: 40px;
    height: 47px;
  }

  .email-rcs {
    padding-top: 15px;
  }
}

footer {
  /* position: fixed; */
  margin-top: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: -999; */
  height: 500px;
  /* transform: translateY(59.999%); */
}

#wrap {
  position: relative;
  height: 100%;

  /* overflow-y: scroll; */
}

#arr5 .round-head {
  font-size: 1.15rem;
  letter-spacing: 3px;
}

.bottom-text {
  font-size: 3rem;
  margin: 5rem auto;
  font-family: "Satoshi-medium";
  width: 100%;
  text-align: center;
  display: none;
}

.round-head {
  display: block;
  font-size: 1.1rem;
  font-family: Satoshi-Bold;
  padding: 1.25rem;
  text-align: center;
  width: 10rem;
  height: 3.8rem;
  border-radius: 50px;
  background-color: rgb(231, 242, 243);
  color: #62beb7;
  margin: 2rem auto;
}

/* 
.left {
    animation: left 1s linear;
}


@keyframes left {


    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.right {
    animation: right 1s linear;
}


@keyframes right {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} */

.circle {
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.7;
  margin: -15px 0 0 -15px;
  /* pointer-events: none; */
  mix-blend-mode: multiply;
  z-index: 10;
}

.btn:hover::before {
  top: -11.5rem;
  transition-duration: 0.5s;
}

.btn:hover {
  color: white;
  /* transition-duration: 1s; */
}

.btn {
  overflow: hidden;
  z-index: 100;
  /* transition-duration: 0s; */
}

#arrow-button:hover::before {
  top: -13.5rem;
  transition-duration: 0.5s;
}

#arrow-button {
  overflow: hidden;
  /* transition-duration: 0s; */
}
#round-head-id {
  letter-spacing: 3px;
}

#arrow-button {
  /* position: relative; */
  width: 10.5vw;
  height: 3.5rem;
  border-radius: 2rem;
  margin-right: 2rem;
  border: 1px solid black;
  font-family: Satoshi-Regular;
  cursor: pointer;
  font-size: 1.15rem;
  transition-duration: 0.1s;
  background: transparent;
}

#arrow-button:hover {
  color: white;
  /* transition-duration: 1s; */
}

.dark::before {
  content: "";
  position: absolute;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  top: -20rem;
  left: -5rem;
  z-index: -1;
  background-color: white;
  transition-duration: 0.5s;
}

.dark:hover::before {
  top: -11rem;
  transition-duration: 0.5s;
}

.dark:hover {
  color: black;
  /* transition-duration: 1s; */
}

.dark {
  overflow: hidden;
  /* transition-duration: 1s; */
}

#test-1 {
  transition-duration: 0.5s;
}

/* body{
    height: 100vh;
    width: 100%;
} */

#let {
  color: #33534a;
  border: 1px solid #33534a;
}
#let:hover {
  color: white;
}

#arr2 {
  position: relative;
}

.btn {
  position: relative;
}

@media screen and (min-width: 1800px) {
  #MainHead {
    margin-left: 4%;
  }
  #men {
    display: none;
  }
  #ham {
    right: 10%;
  }
  #arr10 .cards div {
    width: 30%;
    margin: 0px;
  }
  #foot2 {
    width: 50%;
  }
  #arr11 #center {
    position: relative;
    top: auto;
    left: auto;
  }
}

@media screen and (min-width: 240px) and (max-width: 599px) {
  .email-sidebar {
    position: absolute;
    bottom: 1%;
    margin: 20px;
    width: 250px;
    margin-left: 13%;
    left: 0;
    font-family: "gilroy-semi-bold";
  }
  .menu-scroll-container {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    position: fixed;
    display: flex;
    overflow: hidden;
    padding: 24vh 20px;
  }

  .menu-scroll-navagition ul {
    list-style: none;
    margin-left: 0;
    line-height: 60px;
  }
  .email-rcs {
    padding-top: 5px;
  }
}
