* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

@font-face {
   font-family: gilroy-bold;
   src: url('../fonts/Gilroy-Bold.ttf');
}

@font-face {
   font-family: gilroy-semi-bold;
   src: url('../fonts//Gilroy-SemiBold.ttf');
}

@font-face {
   font-family: gilroy-regular;
   src: url('../fonts/Gilroy-Regular.ttf');
}

@font-face {
   font-family: gilroy-medium;
   src: url('../fonts/Gilroy-Medium.ttf');
}

@font-face {
   font-family: gilroy-light;
   src: url('../fonts/Gilroy-Light.ttf');
}

:root {
   --pos_x_init: 0px;
   --pos_y_init: 0px;
   --pos_x_final: 0px;
   --pos_y_final: 0px;
   --top_pos: 0s;
}

p {
   line-height: 2.25rem;
}

i {
   font-size: 1.5rem;
}

/* Navbar */


#nav {
   padding: 1vh;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 2;
}

#logo img {
    margin-top: 103px;
    margin-left: 72px;
    height: 55px;
    filter: brightness(0);
    opacity: 0.75;
    /* height: 15.5vh;
    width: 14.5vw; */
}


#menu {
   display: flex;
   flex-direction: row;
   width: 180px;
}

#menu #men {
    margin-top: 70px;
    margin-right: 21px;
    height: 2vh;
    font-family: gilroy-medium;
    font-size: 1.34rem;
    color: #181919;
}
@media only screen and (min-width:1600px) {
    #menu #men {
        margin-top: 70px;
    }
}
#ham {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 62px;
    margin-right: 86px;
    height: 63px;
    width: 63px;
    z-index: 999;
    border-radius: 50%;
    transition-duration: 0.25s;
    background-color: transparent;
    transition-duration: 0.5s;
    top: 36px;
    right: -33px;
    /* overflow: hidden;
   /* overflow: hidden;*/
}
#ham::before{
   position: absolute;
   content: '';
   height:1px;
   width: 1px;
   top: 37px;
   left: 37px;
   background: black;
   /* transform: translate(50%,50%); */
   border-radius: 50%;
   transition-duration: 0.25s;
   z-index: -1;
   background-color: transparent;
}

#ham:hover::before{
   transform: scale(63);
   background-color: black;
   margin: auto;
}


@keyframes hov {
   0% {
       background: radial-gradient(transparent, transparent, transparent, transparent, transparent);
   }

   20% {
       background: radial-gradient(#000, transparent, transparent, transparent, transparent);
   }

   40% {
       background: radial-gradient(#000, #000, transparent, transparent, transparent);
   }

   60% {
       background: radial-gradient(#000, #000, #000, transparent, transparent);
   }

   80% {
       background: radial-gradient(#000, #000, #000, #000, transparent);
   }

   100% {
       background: radial-gradient(#000, #000, #000, #000, #000);
   }

}

#ham:hover #_1,
#ham:hover #_2 {
   background-color: white;
}

/* #one .container div{
   height: 100vh;
   width: 100vh;
} */
#one{
   /* height: 100vh; */
   min-height: 850px;
}
#_1,
#_2 {
   width: 1.75vw;
   height: 0.3vh;
   background-color: #000000;
}

#_1 {
   margin-bottom: 0.4rem;
}


#contact-heading{
   font-size: 5rem;
   /* font-size: 80px; */
    font-family: 'gilroy-regular';
    margin-left: 11vw;
    line-height: 120px;
    margin-top: 50px;
}
.intrested-contact{
   opacity: 0.3;
   font-family: 'gilroy-regular';
   font-size: 2.1rem;
   margin-left: 11vw;
   line-height: 140px;

}
.contact-btn-containers{
   display: flex;
   margin-left: 11vw;
   flex-wrap: wrap;
   max-width: 1200px;
}

.btn-contact-choose{
   font-family: 'gilroy-medium';
    font-size: 24px;
    border: 1.5px solid #E5E5E5;
    padding: 26px 47px;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 20px;
}
.btn-contact-choose:hover{
    border: 1.5px solid #000000;
    color: white;
    background-color: #000;
}
.form-below-line-contaner{
   width: 70vw;
   max-width: 1200px;
   background-color: #c0c0c0;
   height: 2px;
   margin-bottom: 100px;
}
.form-below-line{
    transition-duration: 1.5s;
    width: 0%;
}
.line-hover:hover>.form-below-line-contaner>.form-below-line{
    width: 100%;
    background-color: black;
    height: 100%;
}
.form-container{
   margin-left: 11vw;
   margin-top: 50px;
   padding-top: 50px;
}
.form-container input{
   border: none;
   width: 100%;
   outline: none;
   font-size: 30px;
   opacity: 0.8;
   padding-top: 30px;
   padding-bottom: 35px;
}
.form-container input::placeholder{
   font-size: 30px;
   color: black;
   opacity: 0.3;
   font-family: 'gilroy-regular';
}
.submit-contact-form button{
   background-color: transparent;
   border: none;
   color: black;
   font-size: 38px;

   margin-bottom: 100px;
   padding-bottom: 20px;
   font-family: 'gilroy-regular';
   cursor: pointer;
}
#submitform{
    opacity: 0.3;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.299);
}



/* FOOTER CSS */








#overlay-sidebar{
   transition-duration: 1s;
   opacity: 0;
    z-index: 102;
   display: none;
}
.overlay-scroll-container{
   background-color: rgba(255, 255, 255, 0.311);
   width: 100vw;
   height: 100vh;
   z-index: 99;
   position: absolute;
   top: 0;
   
   overflow: hidden;
   overflow: none;
   min-height: 850px;
}
.menu-scroll-container{
    background-color: rgb(255, 255, 255);
    width: 45vw;
    position: fixed;
    display: flex;
    overflow: hidden;
    padding:26vh 100px;
    height: 100vh;
   top: 0;
   transition-duration: 1s;
   justify-content: left;
   font-family: 'gilroy-medium';
}
#menu-scroll-container{
   right: -45vw;
}
.menu-scroll-navagition{
   font-size: 2.3rem;
}
.menu-scroll-navagition ul {
   list-style: none;
   margin-left: 9vw;
   line-height: 60px;
}
.menu-scroll-navagition ul li, .menu-scroll-social ul li {
   cursor: pointer;
   transition-duration: 0.5s;
   /* transition-duration: 0.5s; */
}
.menu-scroll-navagition ul li:hover, .menu-scroll-social ul li:hover {
   transform: scale(1.1);
}
.menu-scroll-navagition ul li:hover, .menu-scroll-social ul li:hover {
   transform: scale(1.05);
}
#line-span-menu{
   line-height: 18px;
   padding-bottom: 10px;
}
#area1 ul li{
   transition-duration: 0.5s;
   cursor: pointer;
   
}
#area1 ul li:hover{
   transform: scale(1.05);
}
.menu-scroll-social{
   font-size: 1.2rem;
   font-family: 'gilroy-regular';
   line-height: 47px;
   padding-left: 1vw;
}
.menu-scroll-social span, .menu-scroll-navagition span {
   font-size: 1rem;
   color:#B2B1B2;
   font-family: 'gilroy-regular';
}

.menu-scroll-social ul{
   list-style: none;
}

#style-no{
   text-decoration: none;
   color: black;
}


.email-sidebar{
   position: absolute;
   bottom: 70px;
   font-family: 'gilroy-semi-bold';
}
#light{
   color: #B2B1B2;
   font-family: 'gilroy-semi-bold';
   font-size: 1.2rem;
}
.email-rcs{
   cursor: pointer;
   font-family: 'gilroy-regular';
   font-size: 1.15rem;
   /* border-bottom: 1px solid rgb(196, 196, 196); */
}
.email-rcs:hover{
   /* border-bottom: 1px solid #000; */
   font-family: 'gilroy-medium';
   transition-duration: 1s;
}
#email-bottom-1,#email-bottom-11{
   width: 100%;
   background-color: rgb(246, 246, 246);
   border: none;
   height: 2px;
}
#email-bottm-2,#email-bottm-22{
   background-color: black;
   width: 10%;
   height: 100%;
   transition-duration: 1s;
}
.telegram-div-sidbar{
   margin-left: 5vw;
}












































/* from services */



#overlay-sidebar {
   transition-duration: 1s;
   opacity: 0;
   z-index: 102;
}

.overlay-scroll-container {
   background-color: rgba(255, 255, 255, 0.311);
   width: 100vw;
   height: 100vh;
   z-index: 99;
   position: absolute;
   top: 0;

   overflow: hidden;
   overflow: none;
   min-height: 850px;
}

.menu-scroll-container {
   background-color: rgb(255, 255, 255);
   width: 45vw;
   position: absolute;
   display: flex;
   overflow: hidden;
   padding: 26vh 100px;
   height: 100vh;
   top: 0;
   transition-duration: 1s;
   justify-content: left;
   font-family: 'gilroy-medium';
}

#menu-scroll-container {
   right: -45vw;
}

.menu-scroll-navagition {
   font-size: 2.3rem;
}

.menu-scroll-navagition ul {
   list-style: none;
   margin-left: 9vw;
   line-height: 60px;
}

.menu-scroll-navagition ul li,
.menu-scroll-social ul li {
   cursor: pointer;
   transition-duration: 0.5s;
   /* transition-duration: 0.5s; */
}

.menu-scroll-navagition ul li:hover,
.menu-scroll-social ul li:hover {
   transform: scale(1.1);
}

.menu-scroll-navagition ul li:hover,
.menu-scroll-social ul li:hover {
   transform: scale(1.05);
}

#line-span-menu {
   line-height: 18px;
   padding-bottom: 10px;
}

#area1 ul li {
   transition-duration: 0.5s;
   cursor: pointer;

}

#area1 ul li:hover {
   transform: scale(1.05);
}

.menu-scroll-social {
   font-size: 1.2rem;
   font-family: 'gilroy-regular';
   line-height: 47px;
   padding-left: 1vw;
}

.menu-scroll-social span,
.menu-scroll-navagition span {
   font-size: 1rem;
   color: #B2B1B2;
   font-family: 'gilroy-regular';
}

.menu-scroll-social ul {
   list-style: none;
}

#style-no {
   text-decoration: none;
   color: black;
}


.email-sidebar {
   position: absolute;
   bottom: 70px;
   font-family: 'gilroy-semi-bold';
}

#light {
   color: #B2B1B2;
   font-family: 'gilroy-semi-bold';
   font-size: 1.2rem;
}

.email-rcs {
   cursor: pointer;
   font-family: 'gilroy-regular';
   font-size: 1.15rem;
   /* border-bottom: 1px solid rgb(196, 196, 196); */
}

.email-rcs:hover {
   /* border-bottom: 1px solid #000; */
   font-family: 'gilroy-medium';
   transition-duration: 1s;
}

#email-bottom-1,
#email-bottom-11 {
   width: 100%;
   background-color: rgb(246, 246, 246);
   border: none;
   height: 2px;
}

#email-bottm-2,
#email-bottm-22 {
   background-color: black;
   width: 10%;
   height: 100%;
   transition-duration: 1s;
}

.telegram-div-sidbar {
   margin-left: 5vw;
}






@media only screen and (max-width:1400px) {
   #c1 div button {
       margin-top: 2rem;
       width: 11.5vw;
       height: 3.5rem;
   }

   #logo img {
       margin-top: 80px;
       margin-left: 72px;
       /* height: 15.5vh;
       width: 14.5vw; */
   }

   #ham {
       position: fixed;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin-top: 45px;
       right: -33px;
       margin-right: 86px;
       top: 36px;
       height: 63px;
       z-index: 999;
       width: 63px;
       border-radius: 50%;
       transition-duration: 0.25s;
       background-color: transparent;
       /* overflow: hidden;*/
   }

   #contact-heading {
       font-size: 2rem;
       line-height: 58px;
   }

   .intrested-contact {
       opacity: 0.3;
       font-family: 'gilroy-regular';
       font-size: 1.5rem;
       margin-left: 11vw;
       line-height: 91px;
   }

   .btn-contact-choose {
       font-family: 'gilroy-medium';
       font-size: 12px;
       border: 1.5px solid #E5E5E5;
       padding: 14px 22px;
       border-radius: 60px;
       cursor: pointer;
       margin-top: 29px;
       margin-right: 12px;
   }
}

@media only screen and (max-width:900px) {
   .telegram-div-sidbar {
       margin-top: 15px;
   }

   #menu-scroll-container {
       width: 100vw;
       padding: 26vh 20px;
   }

   .telegram-div-sidbar {
       margin-left: 0;
   }

   .menu-scroll-social {
       display: none;
   }

   .email-sidebar {
       margin-left: 15%;
   }

   .form-container input::placeholder {
       font-size: 15px;
       color: black;
       opacity: 0.3;
       font-family: 'gilroy-regular';
   }

   .form-container input {
       border: none;
       width: 100%;
       outline: none;
       font-size: 12px;
       opacity: 0.8;
       padding-top: 30px;
       padding-bottom: 12px;
   }

   .form-below-line-contaner {
       margin-bottom: 32px;
   }

   .submit-contact-form button {
       background-color: transparent;
       border: none;
       color: black;
       opacity: 0.3;
       font-size: 17px;
       margin-top: 19px;
       cursor: pointer;
   }

   #logo img {
       margin-top: 41px;
       margin-left: 40px;
       height: 47px;
   }

   .email-rcs {
       padding-top: 15px;
   }
}